.estimate {
    padding-top: 130px;
    padding-bottom: 130px;
}
.estimate_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.estimate_wrap {
    width: 100%;
    border: 1px solid gainsboro;
}


/* 목록 헤드 */
.estimate_content_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    background: rgb(241, 241, 241);
}
.estimate_head button {
    padding: 10px 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(49, 49, 49);
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}
.estimate_head button:hover {
    filter: brightness(.7);
}

.estimate_content_head h3 {
    font-size: 20px;
    padding: 20px 33px;
    color: rgb(35, 35, 35);
}


/* 목록 본문 */
.estimate_content {
    width: 100%;
    display: flex;
    padding: 20px 33px;
}
.estimate_content:not(:last-child) {
    border-bottom: 1px solid gainsboro;
}

.estimate_content h2 {
    width: 13%;
    height: 100%;
    font-size: 20px;
}
.estimate_content p {
    font-size: 19px;
}