.bluesky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
}

.bluesky_img {
    margin: 50px auto;
    background-image: url('/public/product/bluesky_detail_total.jpg');
    background-size: contain; /* 이미지를 컨테이너에 맞게 조절합니다 */
    background-repeat: no-repeat; /* 이미지 반복을 비활성화합니다 */
    background-position: center;
    width: 100%;
    padding-top: 540%;
  }

@media screen and (max-width: 440px) {
    .bluesky {
        padding-top: 0px;
    }
}