.rental {
    width: 100%; height: 97vh;
    min-height: 700px;
    padding: 42px 0;
    padding-bottom: 70px;
    position: relative;
    background: linear-gradient(to right, #2786cf, #a2dff5);
    /* border-top: #012235 20px solid; */
    /* border-bottom: #012235 20px solid; */
}

/* title */
.rental_title_wrap {
    width: fit-content;
    margin: 10px auto;
    margin-bottom: 55px;
    letter-spacing: -0.12px;
    opacity: 0;
    color: #ffffff;
}
.rental_title {
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 3px;
}
.rental_sub {
    font-weight: 300;
    font-size: 28px;
    text-align: right;
}


/* card */
.card_wrap {
    display: flex;
    justify-content: center;
    width: 92%; height: 75%;
    animation-delay: .5s;
    opacity: 0;
    margin: auto;
}
.card {
    width: 33.3%; 
    height: 100%;
    min-height: 450px;
    /* max-width: 420px; */
    margin: auto 14px;
    margin-bottom: 20px;
    /* padding-top: 10%; */
    /* width: 300px; height: 370px; */
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(15, 15, 15, 0.34);
    transition: .4s;
    display: flex;
    flex-direction: column;
    filter: brightness(.95);
    /* border: 1px solid rgba(104, 121, 135, 0.718); */

}
.card:hover {
    /* border: 1px solid rgba(5, 92, 150, 0.942); */
    /* transform: scale(1.1); */
    filter: brightness(1);
    box-shadow: 0px 8px 8px 3px #06597ac2;
    z-index: 9;
}

.card_pic_wrap {
    height: 48%;
}
.card_wrap .card:nth-child(2n) .floatUp {
    animation-delay: .7s;
}
.pic {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic img{ 
    width: 100%; height: 100%;
}

/* card bottom */
.card_bottom_wrap {
    height: 50%;
    padding: 7% 0;
}
.card_title {
    font-size: 22px;
    font-weight: 600;
    color: #0d568d;
    letter-spacing: -0.26px;
    text-align: center;
    margin-bottom: 10px;
}
.card_content {
    font-size: 17px;
    font-weight: 400;
    color: #444444;
    letter-spacing: -0.25px;
    text-align: center;
    line-height: 1.65;
    padding: 0 6px;
}


@media screen and (max-width: 440px) {
    .rental {
        height: fit-content;
        padding-bottom: 30px;
        padding-top: 10px;
    }
    
    .rental_title_wrap {
        width: 100%; 
        margin: 20px 0; /* 위아래 여백 조절 */
        text-align: center;
    }
    
    .rental_title {
        font-size: 20px; /* 폰트 크기 축소 */
    }
    
    .rental_sub {
        font-size: 12px; /* 폰트 크기 축소 */
        text-align: center; /* 중앙 정렬 */
    }
    
    .card_wrap {
        flex-direction: column; /* 세로로 나열 */
        justify-content: start;
        padding-bottom: 0; /* 하단 패딩 제거 */
        width: 100%
    }
    
    .card {
        /* width: 65%; */
        width: 90%;
        height: 100%;
        min-width: 210px;
        margin: 20px auto; /* 가운데 정렬 및 카드 사이 여백 조절 */
        /* padding: 15px 20px; */
        min-height: 330px;

    }

    .card_pic_wrap {
        /* width: 60px; height: 60px; */
        /* margin: 11px auto; */
        /* margin-bottom: 20px; */
        height: 100%;
        width: 100%;
    }
    .card_pic_wrap img {
        max-height: 170px;
    }
    
    .card_title {
        font-size: 16px; /* 폰트 크기 축소 */
        margin-bottom: 10px; /* 아래 여백 축소 */
    }
    
    .card_content {
        font-size: 12px; /* 폰트 크기 축소 */
    }
    
}


